.notes{
    display: grid;
    justify-content: center;
    margin-top: 70px;
}

.notes-box{
    width: 650px;
    background: #fff;
    padding: 0 30px;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 10px;
}

.notes-title{
    margin-bottom: 30px;
}

.notes-title h5{
    font-size: 25px;
    font-weight: 400;
    color: rgb(80, 79, 79);
    margin-bottom: 10px;
}

.notes-title input{
    width: 630px;
    height: 40px;
    outline: none;
    border: 2px solid rgb(139, 139, 139);
    border-radius: 10px;
}

.notes-title input::placeholder{
    padding-left: 7px;
}

.notes-title textarea{
    width: 630px;
    height: 120px;
    outline: none;
    border: 2px solid rgb(139, 139, 139);
    border-radius: 10px;
}

.notes-title textarea::placeholder{
    padding: 7px;
}

.notes-button{
    padding: 15px 35px;
    cursor: pointer;
    background: #0067f7;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    margin-bottom: 20px;
}

.notes-wrapper{
    margin-top: 30px;
}

.notes-wrapper > div:first-of-type{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

.note-card{
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgb(139, 139, 139);
    margin-top: 20px;
    padding: 0 20px;
}

.note-card-title span{
    font-size: 22px;
    font-weight: 400;
    color: rgb(80, 79, 79);
}
.note-card-title{
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 10px;
    color: rgb(80, 79, 79);
}

.note-buttons{
    display: flex;
    gap: 20px;
    margin: 20px 0 10px 0;
}

.note-buttons button{
    padding: 12px 35px;
    cursor: pointer;
    background: #0067f7;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    border: none;
}

.note-buttons button:nth-child(2){
    background: rgb(231, 35, 35);
}